DATABASE_URL="postgresql://neondb_owner:npg_qpkK0nr5GFJi@ep-steep-rain-a1p02t6b-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="Root"
CLOUDINARY_API_KEY="599356513458849"
CLOUDINARY_API_SECRET="FxZKAQJ66PrTAdePLZjnei7SlzY"